

<div class="navbar  navbar-expand-md  d-flex justify-content-between">
    <div>
     
      <a href="" class="navbar-brand  ms-5 logoText" routerLink="/home" routerLinkActive="active" >
        <img src="WebLogo.svg" alt="" style="width:70px ;height: auto;" class="back">  CarFlex </a>
      <button class="navbar-toggler ms-auto" data-bs-toggle="collapse" data-bs-target="#myNav"    
        aria-controls="myNav"
        aria-expanded="false"
        aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
            </span>
      </button>
    </div>
      
      <div class="navbar-collapse collapse row animated-navbar"
      [ngClass]="{ 'show-navbar': isNavbarCollapsed }"
       id="myNav">
            <div class="navbar-nav d-flex justify-content-between">
                <div class="nav-item">
                    <a routerLink="/" routerLinkActive="active" class="nav-link linkBorder"></a>
                </div>
                <div class="nav-item ">
                    <a [routerLink]="['/buy']"  routerLinkActive="active" class="nav-link linkBorder">Buy Car</a>
                </div>
                <div class="nav-item ">
                    <a [routerLink]="['/sell']"  [routerLinkActive]="['active']" [queryParams]="{toSell:true}" class="nav-link linkBorder">Sell Car</a>
                </div>
                <div class="nav-item ">
                    <a routerLink="/rent" routerLinkActive="active" class="nav-link linkBorder">Rent Car</a>
                </div>
                <div class="nav-item ">
                    <a 
                    
                    [routerLink]="['/login']" [queryParams]="{toLogin:true}" routerLinkActive="active"
                    class="mt-2 nav-link loginButton  btn loginhover d-flex align-items-center rounded-pill mb-0 mt-0 ms-0 loginLogo"
                   
                    [ngClass]="{'loginLink':isLoginLink}"
                    style="font-size: 10x;"
                    >
                        <svg style="width: 30px;height:auto" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                        </svg>Login   
                    </a>
                </div>
        </div>
    </div>
</div>




