<div class="blank"> </div>
   <div class="container-fluid overflow-hidden">
    <div class="row flex-nowrap scroll-container">
      <div *ngFor="let image of carLogos;index as i" class="col-auto">
        <img [src]="image" [alt]="image.alt" class="img-fluid" style="height: 50px; margin-right: 15px;" />
      </div>
      <div *ngFor="let image of carLogos;index as i" class="col-auto">
        <img [src]="image" [alt]="image.alt" class="img-fluid" style="height: 50px; margin-right: 15px;" />
      </div>
   </div>

   <div class="blank "> </div>
<div class="text-overlay">
  <div class="overlay"></div>
  
  <div class="row main content">
    <div class="col-4 branch">
      <div class="row d-flex flex-column">
        <a  class="subBranch MainAnchor">General Company Information</a>
        <a  class="subBranch">About Us</a>
        <a  class="subBranch">Contact Us</a>
        <a  class="subBranch">Careers</a>
        <a  class="subBranch">Press & Media</a>
        <a  class="subBranch">Blog & News</a>
        <a  class="subBranch">User Reviews & Testimonials</a>
        
      </div>
    </div>
    <div class="col-4 branch">
      <div class="row d-flex flex-column">
        <a  class="subBranch MainAnchor">Car Buying & Selling</a>
        <a  class="subBranch">Sell Your Car</a>
        <a  class="subBranch">Car Financing Options</a>
        <a  class="subBranch">Car Buying Guide</a>
        <a  class="subBranch">Rental Policies</a>
        <a  class="subBranch">Rental Agreement</a>
        <a  class="subBranch">Refund & Cancellation Policy</a>
      </div>
    </div>
    <div class="col-4 branch">
      <div class="row d-flex flex-column">
        <a  class="subBranch MainAnchor">Services & Customer Support</a>
        <a  class="subBranch">FAQs</a>
        <a  class="subBranch">Customer Support </a>
        <a  class="subBranch">Vehicle Inspection Services</a>
        <a  class="subBranch">Extended Warranty Options</a>
        <a  class="subBranch">Roadside Assistance</a>
        <a  class="subBranch">Certified Pre-Owned</a>
      </div>
   </div>
</div>




