.form-control{
    width: 70%;
}
.modal-content{
    border-radius: 20px;
}
.modal{
    background-image: radial-gradient(circle,#72A0C1,#3b5b74,#556c7d);
    height: 100vh;
    width: 100%;
    margin: auto;
  }


  