


    <div class="modal fade"  
       [ngClass]="{ 'show': showLoginForm }"
       [ngStyle]="{ 'display': showLoginForm ? 'block' : 'none' }"
       data-bs-backdrop="static" >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-dark">
          <div class="modal-header border-bottom border-dark" style="text-align: center;">
            <h3 class="text-light" style="text-align: center;">
              Welcome back to CarFlex
            </h3>
          </div>
          <div class="modal-body bg-dark text-light" [formGroup]="fg">
            <div class="row form-group">
              <label for="email" type="email" class="form-label">Email</label>
              <input type="email" class="form-control  bg-secondary  border-secondary text-dark ms-2" formControlName="gmail" placeholder="lavanbharatha25@gmail.com">
            </div>
            <div class="text-danger" *ngIf="fg.get('gmail')?.touched&&fg.get('gmail')?.invalid">
              <small *ngIf="fg.get('gmail')?.hasError('required')">Gmail is required</small>
              <small *ngIf="fg.get('gmail')?.hasError('email')">Enter correct gmail</small>
              <small *ngIf="fg.get('gmail')?.hasError('minlength')">Minimum of 8 characters required</small>
            </div>
            <div class="row mt-3 form-group">
              <label for="Password" class="form-label text-light">Password</label>
              <input type="password" placeholder="Enter Your Gmail password" class="form-control bg-secondary  border-secondary text-dark ms-2" formControlName="password" >
            </div>
            <div class="text-danger" *ngIf="fg.get('password')?.touched&&fg.get('password')?.invalid">
              <small *ngIf="fg.get('password')?.hasError('required')">password is required</small>
              <small *ngIf="fg.get('password')?.hasError('minlength')">Minimum of 8 characters required</small>
            </div>
         
            <div class="row mt-3">
              <div class="col-2">
                <button class="btn btn-success"><small>Login</small></button>
              </div>
              <div class="col-2 ms-auto me-3">
                <button class="btn btn-danger" data-bs-dismiss="modal" (click)="navigateToHome()"><small>Cancel</small></button>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <p class="text-light me-auto">Don't have an account ? <a href="" class="text-success text-decoration-none" style="font-size: 18px;"
              [routerLink]="['/login/signUp']" [queryParams]="{toSignUp:true}" routerLinkActive="active"
               >click here</a> to signUp</p>
          </div>
        </div>
      </div>
     </div>

<router-outlet></router-outlet>














