<p>buy-details works!</p>

        <div class="modal" [ngClass]="{'show':showDetals}"
        
        [ngStyle]="{ 'display': showDetals ? 'block' : 'none' }">
        <div class="modal-dailog" >
            <div class="modal-content col-6">
            <div class="modal-header">Loginform</div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="" class="form-label">Name</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="" class="form-label">Name</label>
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
    </div>
</div>
odsifpons;dlfas;